body{
    width: 100%;
    height: 100%;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}
a{
    font-size: 1.5rem;
    padding: 20px;
    color: #F8EDE3;
}

p{
    font-size: 1.5rem;
    line-height: 2  ;
    color: #DADADA;
}
h1{
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    color: #F8EDE3;
}

h2
{
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    color: #F8EDE3;
    font-weight: bolder;
}

h3{
    font-size: 1.7rem;
    font-family: 'Montserrat', sans-serif;
    color: #F8EDE3;
    font-weight: bolder;
}
hr{
    border: dotted #eaf6f6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto 0px;
}








.top-container{
    background-color: #252525;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 100px;
    position: relative;
    line-height: 2;
    width: auto;
}
.middle-container{
    /* margin: 1px; */
    background-color: #414141;
}

.bottom-container{
    background-color: #CA3E47;
    width: 100%;
}










.contact-me{
    margin: 0px;
}
.skill-row{
    width: 70%;
    margin: 100px auto 300px;
    text-align: left;
    line-height: 2;
    padding: 60px auto;
}
.intro{
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    margin: auto;
}
.mountain-img{
    padding-top: 250px;
    width: 100%;
    max-width: 800px;
}
.profile{
    width:50%;
    margin: 0px auto ;
}
.boss-img{
    width: 30%;
    padding-top: 50px;
    border-radius: 50%;
}
.computer-img{
    width: auto;
    max-width: 45%;
    border-radius: 50%; 
    float: left;
    margin-right: 10%;
    min-width: 20%;
}
.computer-gif{
    width: auto;
    max-width: 45%;
    border-radius: 50%; 
    float:right;
    margin-left: 10%;
    min-width: 35%;
}
.bottom-cloud{
    position: absolute;
    bottom: 42%;
    left: 15%;
    width: 200px;
    max-width: 250px;
}
.top-cloud{
    width: 200px;
    position: absolute;
    right: 15%;
    top: 5%;
    max-width: 250px;
}



.skill1-p{

    line-height: 2;
    /* clear: left; */
    text-align: left;
}

.skill2-p{
    line-height: 2.3;
    /* clear: right;
    line height: 2.8; */
}

.programmer{
    font-size: 2.5rem;
}


.btn {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999e);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999e);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999e);
    background-image: -o-linear-gradient(top, #11CDD4, #11999e);
    background-image: linear-gradient(to bottom, #11CDD4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }


  .footer{
      /* background-color: #66BFBF; */
        padding: 50px 0 20px;
  
    }







/* .img-divs1{
    width: auto;
    margin: 100px auto;

}

.img-divs2{
    width:auto
} */